@using SimpleSchedule.Models
@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.PageTitle - SimpleSchedule</title>
    <link rel="icon" href="~/images/MTIcon.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Request" asp-action="Index"><img alt="Microtips Technology USA Logo" height="50" src="~/images/MTLogo.png" asp-append-version="true" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Request" asp-action="Index">SimpleSchedule</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <span class="navbar-text">
                        <ul class="navbar-nav flex-grow-1">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="btn" asp-area="" asp-controller="Account" asp-action="Index">My Summary</a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown">
                                        <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Admin
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ListUsers">Show All Users</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-controller="Request" asp-action="AdminIndex">Show All Requests</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-controller="EarlyRelease" asp-action="AdminIndex">Show All ERs</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-area="" asp-controller="Holiday" asp-action="Index">Manage Holidays</a>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="btn" asp-area="" asp-controller="Holiday" asp-action="Index">View Upcoming Holidays</a>
                                    </li>
                                }
                                <li class="nav-item">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="btn btn-outline-primary">Logout @User.Identity.Name</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            }
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
