@model AdminIndexViewModel

@{
    ViewBag.PageTitle = "All Requests";
}

<h1>@ViewBag.PageTitle</h1>

@if (Model.requests.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th>User Email</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var singleRequest in Model.requests)
                {
                    ApplicationUser requestUser = Model.applicationUsers.First(u => u.Id == singleRequest.ApplicationUserID);
                    <tr>
                        <td>@requestUser.Email</td>
                        <td class="text-center">@singleRequest.StartDate.ToShortDateString()</td>
                        <td class="text-center">@singleRequest.EndDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2>No Personal/Vacation Requests at the moment.</h2>
}
